---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BartlePercentile from './../../components/vue/BartlePercentile.vue';
import BartleDominant from './../../components/vue/BartleDominant.vue';

const metadata = {
  title: 'Bartle výsledky'
};

---
<Layout metadata={metadata}>
    <script>
    import Chart from 'chart.js/auto';
    function getURLPercentiles() {
        const params = new URLSearchParams(window.location.search);
        let searchParams = ['soc', 'kil', 'ach', 'exp'];
        const values: number[] = [];
        for(let i = 0; i < searchParams.length; i++) {
            const val = parseInt(params.get(`${searchParams[i]}`) as string);
            if (!isNaN(val) && val >= 0 && val <= 100) {
                values.push(val as number);
            } else {
                // If parameter is missing or not within range, set default value
                values.push(-1);
            }
        }
        return values;
    }
    const [soc, kil, ach, exp] = getURLPercentiles();
    const ctx = document.getElementById('skillChart')!.getContext('2d');

    new Chart(ctx, {
        type: 'bar',
        data: {
        labels: ['Společník', 'Bojovník', 'Dobrodruh', 'Kolektor'],
        datasets: [{
            label: 'Skill Levels',
            data: [soc, kil, exp, ach],
            backgroundColor: [
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 99, 132, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(255, 206, 86, 0.5)',
            ],
        }]
        },
        options: {
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true,
                    max: 100,
                    min: 0,
                    grid: {
                        display: false
                    }
                }
            },
            plugins: {
            legend: {
                display: false
            }
        }
        },

    });
    </script>

    <Hero>
      <Fragment slot="title">
         Výsledky Bartlovy Typologie<br />
          <span class="text-accent dark:text-white highlight"> </span>
        </Fragment>
        <Fragment slot = subtitle>
            <canvas id="skillChart"></canvas>
        </Fragment>
    </Hero>

    <BartlePercentile client:load />
    <BartleDominant client:load />

</Layout>
