---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BartlePercentile from './../../components/vue/BartlePercentile.vue';
import BartleDominant from './../../components/vue/BartleDominant.vue';
import CallToAction from '~/components/widgets/CallToAction.astro';
import SocialShare from '../../components/common/SocialShare.astro';
import { typology } from '~/navigation';

const metadata = {
  title: 'Bartle výsledky'
};

---
<Layout metadata={metadata}>
    <script>
    import Chart from 'chart.js/auto';

    function getURLPercentiles() {
        const params = new URLSearchParams(window.location.search);
        let searchParams = ['soc', 'kil', 'ach', 'exp'];
        const values: number[] = [];
        for(let i = 0; i < searchParams.length; i++) {
            const val = parseInt(params.get(`${searchParams[i]}`) as string);
            if (!isNaN(val) && val >= 0 && val <= 100) {
                values.push(val as number);
            } else {
                // If parameter is missing or not within range, set default value
                values.push(-1);
            }
        }
        return values;
    }
    const [soc, kil, ach, exp] = getURLPercentiles();
    const ctx = document.getElementById('skillChart')!.getContext('2d');

    new Chart(ctx, {
        type: 'bar',
        data: {
        labels: ['Společník', 'Bojovník', 'Dobrodruh', 'Kolektor'],
        datasets: [{
            label: 'Skill Levels',
            data: [soc, kil, exp, ach],
            backgroundColor: [
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 99, 132, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(255, 206, 86, 0.5)',
            ],
        }]
        },
        options: {
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true,
                    max: 100,
                    min: 0,
                    grid: {
                        display: false
                    }
                }
            },
            plugins: {
            legend: {
                display: false
            }
        }
        },

    });
    let invalidData = function(){
        document.getElementById('skillChart')!.style.display = 'none';
        document.getElementById('bartlePercentiles')!.style.display = 'none';
        document.getElementById('bartleDominant')!.style.display = 'none';
        // remove style display none from bartleInvite
        document.getElementById('bartleInvite')!.style.display = 'block';
    }
    // hide the canvas if the values are -1 
    if (soc === -1 || kil === -1 || ach === -1 || exp === -1) {
       invalidData();
    }
    //if any of the values are not numbers, hide the canvas
    if (isNaN(soc) || isNaN(kil) || isNaN(ach) || isNaN(exp)) {
        invalidData();
    }
    </script>
    
    <Hero>
      <Fragment slot="title">
         Výsledky Bartlovy Typologie<br />
          <span class="text-accent dark:text-white highlight"> </span>
        </Fragment>
        <Fragment slot = subtitle>
            <canvas id="skillChart"></canvas>
        </Fragment>
    </Hero>

    <BartlePercentile client:load />
    <BartleDominant client:load />

    <div id="bartleInvite" style ="display:none">
        <CallToAction
            actions={[]}
            title="Zdá se, že se něco nezdařilo"
            subtitle="😿"
        />
    </div>
</Layout>
