---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import TypologyProfile from '~/components/mine/TypologyProfile.astro';
import BasicParagraph from '~/components/blog/BasicParagraph.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import SocialShare from '~/components/common/SocialShare.astro';

const metadata = {
  title: 'Bartlova Typologie Osobnosti',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
    title=" Bartlova typologie osobnosti"
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  />
  <section class="mx-auto">
    <article>
      <header>
        <h1 class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading">
        </h1>
      </header>
        <BasicParagraph
            content = "V roce 1996 britský profesor a herní výzkumník Richard Bartle publikoval článek 'Hearts, Clubs, Diamonds, Spades: Players Who Suit MUDS'. Jeho typologie je založena na rozřazení hráčů multi-user dungeons. MUD bylo internetové prostředí, ve kterém hráč interagoval s předměty, herními postavami nebo dalšími hráči pomocí textových příkazů."
          />
        <BasicParagraph
          content="Náš dotazník, který se nachází ve druhé části výzkumu, vychází z Bartlova, nicméně se zaměřuje na hráče onlinových her obecně, a zejména MMORPG her (massively multiplayer online role-playing game). Dotazník jsme přeložili do češtiny a poupravili jeho formát." />
        <BasicParagraph
              content = "Dotazník klasifikuje hráče online her na základě Bartleovy taxonomie typů hráčů. Každý typ hráče (Socialiser, Explorer, Achiever a Killer) je definován herními prvky, které jsou pro něj ve hře nejdůležitější."
            />
    </article>
  </section>

  <TypologyProfile
    type = "Socializer"
    isReversed
    items={[
      {
        title: 'High-Quality Designs',
        description:
          'Our templates feature top-tier designs that ensure a professional and polished appearance for your projects.',
        icon: 'tabler:wand',
      },
      {
        title: 'Customization Tools',
        description:
          'Tailor each template to your unique needs with user-friendly customization tools that let you personalize colors, fonts, and content.',
        icon: 'tabler:settings',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  />

<TypologyProfile
    type = "Killer"
    items={[
      {
        title: 'High-Quality Designs',
        description:
          'Our templates feature top-tier designs that ensure a professional and polished appearance for your projects.',
        icon: 'tabler:wand',
      },
      {
        title: 'Customization Tools',
        description:
          'Tailor each template to your unique needs with user-friendly customization tools that let you personalize colors, fonts, and content.',
        icon: 'tabler:settings',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
    />

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Jdu na to',
      href: '/',
    }]}
    title="Chcete zjistit svůj profil?"
    subtitle="Test vám zabere cca XYXYX"
  />
</Layout>
