---
import CallToAction from '~/components/widgets/CallToAction.astro';
import BartleType from '~/components/mine/BartleType.astro';
import BasicParagraph from '~/components/blog/BasicParagraph.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import { typology } from '~/navigation';

import typologyImage2 from '~/assets/images/typology-2.png';

const metadata = {
  title: 'Bartlova Typologie Osobnosti',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    tagline=""
    title=" Bartlova typologie osobnosti"
    image={{
      src: typologyImage2,
      alt: 'Typology illustrative image',
    }}
  />
  <section class="mx-auto">
    <article>
      <header>
        <h1 class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading">
        </h1>
      </header>
        <BasicParagraph
          content = "V roce 1996 britský profesor a herní výzkumník Richard Bartle publikoval článek 'Hearts, Clubs, Diamonds, Spades: Players Who Suit MUDS'. Jeho typologie je založena na rozřazení hráčů tzv. multi-user dungeons. MUD bylo internetové prostředí, ve kterém hráč interagoval s předměty, herními postavami nebo dalšími hráči pomocí textových příkazů."
          />
        <BasicParagraph
          content="Náš dotazník vychází z toho Bartlova, nicméně se zaměřuje na hráče onlinových her obecně. Dotazník jsme přeložili do češtiny a upravili. Například jsme změnili znění některých otázek, které již v 21století nedávaly smysl. Ale původní typologie zůstala stejná." />
        <BasicParagraph
            content = "Dotazník klasifikuje hráče do čtyř typů: Společník, Dobrodruh, Kolektor a Bojovník (Socializer, Explorer, Achiever, Killer). Váš typ je pak definován herními prvky, které jsou pro vás ve hře nejdůležitější. Každému hráči je pak přiřazen jeden z dominantní typ a jeden z podtyp, ačkoli trocha ze všech žije v každém z nás."
          />
    </article>
  </section>

<BartleType type="socializer" reverse/>
<BartleType type="killer" />
<BartleType type="explorer" reverse/>
<BartleType type="achiever"/>

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Jdu na to!',
      href: typology.bartle.questionnaire,
    }]}
    title="Chcete zjistit svůj profil?"
    subtitle="Dotazník vám zabere cca 15 minut"
  />
</Layout>
