---
import CallToAction from "~/components/widgets/CallToAction.astro";
import Hero from "~/components/widgets/Hero.astro";
import BrainHexType from "~/components/mine/BrainHexType.astro";
import Layout from "~/layouts/PageLayout.astro";
import typologyImage2 from "~/assets/images/brainhex-profiles.png";
import { typology } from "~/navigation";

import { getCollection } from "astro:content";

const metadata = {
  title: "BrainHex typologie osobnosti",
};

// Get page content
const pageContent = await getCollection("page-content", ({ id }) => {
  return id.startsWith("brainhex/");
});

// Sort by order
const sortedContent = pageContent.sort(
  (a, b) => (a.data.order || 0) - (b.data.order || 0)
);
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    tagline=""
    title="BrainHex typologie"
    image={{
      src: typologyImage2,
      alt: "Typology illustrative image",
    }}
  />

  <section class="mx-auto">
    <article>
      <header>
        <h1
          class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
        >
        </h1>
      </header>
      {
        sortedContent.map(async (entry) => {
          const { Content } = await entry.render();
          return (
            <div class="max-w-6xl mx-auto mt-6 mb-8 px-4 sm:px-6 text-xl md:text-1xl text-muted dark:text-slate-400 text-justify">
              <Content />
            </div>
          );
        })
      }
    </article>
  </section>
  <!-- Features2 Widget ************** -->

  <BrainHexType type="seeker" />
  <BrainHexType type="survivor" reverse />
  <BrainHexType type="daredevil" />
  <BrainHexType type="mastermind" reverse />
  <BrainHexType type="conqueror" />
  <BrainHexType type="socialiser" reverse />
  <BrainHexType type="achiever" />

  <CallToAction
    actions={[]}
    isDark={true}
    title="Chcete nám pomoci s vývojem BrainHex dotazníku?"
    subtitle="Dotazník je v současné chvíli předěláván a není k dispozici. Sledujte nás na sociálních sítích a dáme vědět, až bude hotový."
  />
</Layout>
