---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BasicParagraph from '~/components/blog/BasicParagraph.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '../components/widgets/CallToAction.astro';

import { getPermalink} from '../utils/permalinks';
import { typology } from '~/navigation';
import psychometricImage from '~/assets/images/psychometrics-1.png';
import typologyImage1 from '~/assets/images/typology-1.png';
import variousControllersImage from '~/assets/images/various_controllers.png';
import brainTypesImage from '~/assets/images/brainTypes.png';

const metadata = {
  title: 'CyberspaceLab - Herní typologie',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: typologyImage1, alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Herní typologie a <span class="text-accent dark:text-white highlight"> Psychologické testy </span> 
    </Fragment>

    <Fragment slot="subtitle">
        Vítejte na stránkách věnujících se herním typologiím a testům, které vám pomohou poznat, jací jste hráči.
    </Fragment>
  </Hero>


  <Content
    isAfterContent
    items={[
      {
        title: 'Co jsou herní typologie? ',
        description: `Herní typologie jsou klíčem k pochopení naší herní osobnosti. Odráží se v nich naše chování ve virtuálním prostředí a popisují, co nás ve hře zajímá. Zdali jsi průzkumník, co chce objevit každý kout herního světa a odkrýt veškerá jeho tajemství, nebo bojovník, hráč, který nedá dopustit na pořádnou bitvu a vyžívá se v porážení svých nepřátel. Hry často nabízejí nekonečné možnosti, a herní typologie nám pomáhají popsat různé způsoby, jakými k nim lidé přistupují a co od nich očekávají.`,
      },
      {
        title: 'Jaké herní typologie existují? ',
        description:
          'Na internetu najdete nepřeberné množství dotazníků, které vám slibují odhalit vaši herní identitu. Mnoho z nich však není vědecky podloženo a často se jedná o čistě humorné testíky. Nicméně existují také seriózní herní typologie, jako je Bartlova herní typologie, BrainHex nebo Gamer Motivation Profile, které jsou založeny na komplexním výzkumu a pozorování. A to je přesně to, co vám přinášíme – důkladnou a vědecky podloženou analýzu vaší herní identity. ',
      }
    ]}
    image={{
      src: variousControllersImage,
      alt: 'Various types',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'K čemu jsou herní typologie dobré? ',
        description:
          'Stejně, jako se zajímáme o to, kdo vlastně jsme v reálném životě, tak nás zajímá, jací jsme ve virtuálním světě. Typologie nám otevírají dveře k pochopení toho, co lidi na hrách nejvíce baví a co je pro ně důležité. Díky nim můžeme i můžeme objevovat takové hry, které nám skvěle sednou. Herní typologie mohou také posloužit k vylepšení samotného herního zážitku. Pokud vás něco ve hře nudí a nevíte proč, váš typ vám může osvětlit, proč tomu tak je. Typologie neslouží pouze hráčům, ale i vývojářům. Poskytují totiž cenné informace, které jim pomáhají lépe porozumět potřebám hráčů a vytvářet hry lepší a zábavnější.',
      },
      {
        title: 'Proč to zajímá nás?',
        description:
          'My se o typologie zajímáme zejména z vědeckého hlediska výzkumu videoher. Od počátku 21. století se věda systematicky zabývá světem videoher a jejich vlivem na člověka. Při studiu her se však často setkáváme s jedním zásadním problémem – jak definovat samotného hráče videoher? Někteří mluví o hráči jako o jedinci, který tráví v herním světě alespoň dvě hodiny denně, zatímco jiní hráče rozdělují podle oblíbených herních žánrů. Tyto různé přístupy pak mohou při výzkumu dělat „paseku“, zejména v případě, kdy se snažíme jejich výsledky zopakovat. Jsme přesvědčeni, že zásadním faktorem je přístup k definici hráče videoher. A právě herní typologie mohou být klíčovou odpovědí na tento složitý problém.',
      }
    ]}
    image={{
      src: brainTypesImage,
      alt: 'Brain Types Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <CallToAction
    actions={[{
      variant: "secondary",
      text: 'O Bartlově typologii',
      href: getPermalink('typologie/bartle'),
    },
    {
      variant: "primary",
      text: 'Rovnou na dotazník',
      href: typology.bartle.questionnaire
    }]}
    title="Chcete zjistit svůj profil?"
    subtitle="V současné chvíli nabízíme test pro Bartlovu typologii hráčů"
  />

  <section class="mx-auto text-center my-10">
    <article>
      <header>
        <h1 class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading">
          A co děláme my? 
        </h1>
      </header>
        <BasicParagraph
          content = "Snažíme vytvářet typologické dotazníky, které se opírají o reálná data. A k tomu potřebujeme právě vás! Všechny typologické dotazníky jsou bohužel v angličtině. Mnohé z nich jsou zároveň zastaralé a potřebují upravit pro potřeby dnešního hráče. A o to se snažíme. Překládáme, upravujeme, inovujeme a zdokonalujeme existující typologie pro českou populaci. Naším cílem je vytvořit funkční a spolehlivé dotazníky, které budou sloužit nejen vám, ale i budoucímu výzkumu videoher!"
          />
    </article>
  </section>

  <Steps
    title="Jak takový test vzniká?"
    items={[
      {
        title: 'Krok 1: <span class="font-medium">Vymezení konstruktu</span>',
        description:
          "V první fázi se musíme rozhodnout, co vlastně chceme měřit. Při tom lze vycházet ze zavedené teorie <em>(např. Bartlova typologie hráčů)</em> nebo vytvořit něco zcela nového na základě zkušeností.",
        icon: 'tabler:package',
      },
      {
        title: 'Krok 2: <span class="font-medium">Tvorba otázek a pilotní studie</em>',
        description:
          "V druhém kroku vytvoříme sérii otázek, které dle našeho názoru dobře vystihují konstrukt, který chceme měřit (například míru společenskosti ve videohrách). Test se zadá menšímu vzorku respondentů, aby se ověřilo, zdali otázky jsou srozumitelné a sbírají se data na první etapy analýz.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Krok 3: <span class="font-medium">Pilotní analýza</span>',
        description:
          'V tomto kroku se díváme na to, jaké otázky jsou příli těžké či snadné, pomocí tzv. faktorové analýzy zjišťujeme, jaké otázky spolu souvisí a jaké ne. Následně si výběr otázek pro test upravíme tak, aby byl co nejkratší, ale nejpřesnější.',
        icon: 'tabler:paint',
      },
      {
        title: 'Krok 4: <span class="font-medium">Reliabilita</span>',
        description:
          'Každý validní test musí být spolehlivý. To znamená, že pokud bychom testovali stejnou vlastnost dvakrát, měli bychom dostat stejné výsledky. V tomto kroku zjišťujeme, jak moc je test vnitřně konzistentní a jak moc se lze na jeho výsledky spolehnout.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Krok 5: <span class="font-medium">Validace testu</span>',
        description:
          'V tomto kroku se snažíme zjistit, zda test měří to, co má měřit. Snažíme se najít nějaké externí kritérium, které by mělo s naším testem souviset a ověřit, zda tomu tak skutečně je. Například optavdu Bojovníci v Bartlově typologii preferují PvP hry oproti PvE?.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Krok 6: <span class="font-medium">Standardizace</span>',
        description:
          'Když už je test hotový, je potřeba ho standardizovat a vytvořit normy. Ty nám poté umožňí porovnávat výsledky respondentů mezi sebou a zjišťovat, jak moc je u respondenta daný rys silný.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Hotovo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: psychometricImage,
      alt: 'Steps image',
    }}
  />

  <FAQs
    title="Nejčastější dotazy"
    subtitle="Co by vás mohlo zajímat?"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Kdo za tím vším stojí?',
        description:
          "Testy vznikají pod zášťitou výzkumné skupiny CyberspaceLab. Skupina působí na Fakultě Humanitních studií Univerzity Karlovy a při Psychologickém ústavu Akademie Věd ČR. Více na <a href='https://www.cyberspacelab.cz'>www.cyberspacelab.cz</a>."
      },
      {
        title: 'Musím se registrovat, abych si mohl/a testy udělat?',
        description:
          'Ne, registrace není nutná. Můžete jednoduše navštívit webovou stránku u jednotlivých typologií výše a vybrat si ten, který chcete absolvovat. Je však nutné zadat nějakou emailovou adresu, na kterou přijsou vypočítané výsledky. Adresu však neukládáme, pokud k tomu nedáte vysloveně svolení.',
      },
      {
        title: "Co se stane s mými daty, když vyplním dotazník?",
        description:
          "Vaše data jsou jsou použita pouze pro výzkumné účely. V dotaznících nesbíráme senzitivní údaje s výjimkou věku a pohlaví. Data mohou být identifikovatelná emailem, abychom mohli propojovat odpovědi z více studií naráz, ale pouze tehdy, pokud k tomu v dotazníku dáte explicitní souhlas. Data nebudou nikdy poskytnuta pro komerční účely třetí straně, mohou být však sdílena mezi akademickými pracovišti pro účely výzkumu.",
      },
      {
        title: 'Můžu dotazníky sdílet?',
        description:
          "Sdílejte sdílejte. Testy jsou zdarma a můžete je sdílet s kýmkoliv. Čím více respondentů, tím přesnější data budeme mít k dispozici.",
      },
      {
        title: 'Můžu využít dotazníky ve výzkumu?',
        description:
          "Pokud chcete použít dotazík ve výzkumu, prosím kontaktujte nás přes <a href='https://www.cyberspacelab.cz'>www.cyberspacelab.cz</a>. Rádi vám poskytneme podrobnější informace.",
      },
      {
        title: "Mohu se nějak podílet na výzkumu?",
        description:
          "Proč ne? :) Prosím kontaktujte nás přes <a href='https://www.cyberspacelab.cz'>www.cyberspacelab.cz</a>",
      }
    ]}
  />
</Layout>
