---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '../components/widgets/CallToAction.astro';
import { getPermalink} from '../utils/permalinks';

import psychometricImage from '~/assets/images/psychometrics-1.png';
import typologyImage1 from '~/assets/images/typology-1.png';

const metadata = {
  title: 'CyberspaceLab - Herní typologie',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: typologyImage1, alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Herní typologie a <span class="text-accent dark:text-white highlight"> Psychologické testy </span> 
    </Fragment>

    <Fragment slot="subtitle">
        Vítejte na stránkách věnujících se herním typologiím a testům, které vám pomohou poznat, jací jste hráči.
    </Fragment>
  </Hero>


  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <CallToAction
    actions={[{
      variant: "secondary",
      text: 'Barltova typologie',
      href: getPermalink('typologie/bartle'),
    }]}
    title="Chcete zjistit svůj profil?"
    subtitle="V současné chvíli nabízíme test pro Bartlovu typologii hráčů"
  />

  <Steps
    title="Jak takový test vzniká?"
    items={[
      {
        title: 'Krok 1: <span class="font-medium">Vymezení konstruktu</span>',
        description:
          "V první fázi se musíme rozhodnout, co vlastně chceme měřit. Při tom lze vycházet ze zavedené teorie <em>(např. Bartlova typologie hráčů)</em> nebo vytvořit něco zcela nového na základě zkušeností.",
        icon: 'tabler:package',
      },
      {
        title: 'Krok 2: <span class="font-medium">Tvorba otázek a pilotní studie</em>',
        description:
          "V druhém kroku vytvoříme sérii otázek, které dle našeho názoru dobře vystihují konstrukt, který chceme měřit (například míru společenskosti ve videohrách). Test se zadá menšímu vzorku respondentů, aby se ověřilo, zdali otázky jsou srozumitelné a sbírají se data na první etapy analýz.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Krok 3: <span class="font-medium">Pilotní analýza</span>',
        description:
          'V tomto kroku se díváme na to, jaké otázky jsou příli těžké či snadné, pomocí tzv. faktorové analýzy zjišťujeme, jaké otázky spolu souvisí a jaké ne. Následně si výběr otázek pro test upravíme tak, aby byl co nejkratší, ale nejpřesnější.',
        icon: 'tabler:paint',
      },
      {
        title: 'Krok 4: <span class="font-medium">Reliabilita</span>',
        description:
          'Každý validní test musí být spolehlivý. To znamená, že pokud bychom testovali stejnou vlastnost dvakrát, měli bychom dostat stejné výsledky. V tomto kroku zjišťujeme, jak moc je test vnitřně konzistentní a jak moc se lze na jeho výsledky spolehnout.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Krok 5: <span class="font-medium">Validace testu</span>',
        description:
          'V tomto kroku se snažíme zjistit, zda test měří to, co má měřit. Snažíme se najít nějaké externí kritérium, které by mělo s naším testem souviset a ověřit, zda tomu tak skutečně je. Například optavdu Bojovníci v Bartlově typologii preferují PvP hry oproti PvE?.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Krok 6: <span class="font-medium">Standardizace</span>',
        description:
          'Když už je test hotový, je potřeba ho standardizovat a vytvořit normy. Ty nám poté umožňí porovnávat výsledky respondentů mezi sebou a zjišťovat, jak moc je u respondenta daný rys silný.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Hotovo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: psychometricImage,
      alt: 'Steps image',
    }}
  />

  <FAQs
    title="Nejčastější dotazy"
    subtitle="Co by vás mohlo zajímat?"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Kdo za tím vším stojí?',
        description:
          "Testy vznikají pod zášťitou výzkumné skupiny CyberspaceLab. Skupina působí na Fakultě Humanitních studií Univerzity Karlovy a při Psychologickém ústavu Akademie Věd ČR. Více na <a href='https://www.cyberspacelab.cz'>www.cyberspacelab.cz</a>."
      },
      {
        title: 'Musím se registrovat, abych si mohl/a testy udělat?',
        description:
          'Ne, registrace není nutná. Můžete jednoduše navštívit webovou stránku u jednotlivých typologií výše a vybrat si ten, který chcete absolvovat.',
      },
      {
        title: 'Můžu dotazníky sdílet?',
        description:
          "Sdílejte sdílejte. Testy jsou zdarma a můžete je sdílet s kýmkoliv. Čím více respondentů, tím přesnější data budeme mít k dispozici.",
      },
      {
        title: 'Můžu využít dotazníky ve výzkumu?',
        description:
          "Pokud chcete použít dotazík ve výzkumu, prosím kontaktujte nás přes <a href='https://www.cyberspacelab.cz'>www.cyberspacelab.cz</a>. Rádi vám poskytneme podrobnější informace.",
      },
      {
        title: "Mohu se nějak podílet na výzkumu?",
        description:
          "Proč ne? :) Prosím kontaktujte nás přes <a href='https://www.cyberspacelab.cz'>www.cyberspacelab.cz</a>",
      },
      {
        title: "Co se stane s mými daty, když vyplním dotazník?",
        description:
          "Vaše data jsou jsou použita pouze pro výzkumné účely. Ve dotaznících nesbíráme senzitivní údaje s výjimkou věku a pohlaví. Data mohou být identifikovatelná emailem, abychom mohli propojovat odpovědi z více studií naráz, ale pouze tehdy, pokud k tomu v dotazníku dáte explicitní souhlas. Data nebudou nikdy poskytnuta pro komerční účely třetí straně.",
      }
    ]}
  />
</Layout>
