---
export interface Props {
    content: string;
}

const { content } = Astro.props;
---
<div>
    <p class="max-w-3xl mx-auto mt-4 mb-8 px-4 sm:px-6 text-xl md:text-2xl text-muted dark:text-slate-400 text-justify">
        { content }
    </p>
</div>
